.Root{
  display: inline-flex;
  background-color: #282c34;
}

.Menu{
  background-color: #d2e0d4;
  width: 200px;
  text-align: center;
}

.InventoryWrapper{
  display: flex;
}

.InventoryBackground {
  background-color: #0a7e19;
  border-style: solid;
  height: 500px;
  width: 500px;
}

.InventoryBackground-Medium {
  background-color: #e5e912;
  border-style: solid;
  height: 500px;
  width: 500px;
}

.InventoryBackground-Hard {
  background-color: #ec0606;
  border-style: solid;
  height: 500px;
  width: 500px;
}

